#
# ESP-Hosted BT NimBLE support
#
CONFIG_ESP_HOSTED_ENABLE_BT_NIMBLE=y
CONFIG_ESP_HOSTED_NIMBLE_HCI_VHCI=y

#
# NimBLE multi-connection config
#
CONFIG_BT_NIMBLE_MAX_CONNECTIONS=4
CONFIG_BT_NIMBLE_MSYS_1_BLOCK_COUNT=24
CONFIG_BT_NIMBLE_MSYS_2_BLOCK_COUNT=32
CONFIG_BT_NIMBLE_TRANSPORT_ACL_FROM_LL_COUNT=32
CONFIG_BT_NIMBLE_ATT_PREFERRED_MTU=512
CONFIG_BT_NIMBLE_GATT_MAX_PROCS=8

#
# Enable NimBLE HID Service (needed by esp_hid component for HID Host)
#
CONFIG_BT_NIMBLE_HID_SERVICE=y
